* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

body {
    background-image: url(https://www.juliusbaer.com/fileadmin/_processed_/8/5/csm_Peoples_Square_ed751964ea.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: blue;
}

.carousel {
    position: relative;
    border: 4px solid blueviolet;
}

.slides {
    height: 500px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    overflow: hidden;
    box-sizing: border-box;
    background: #333;
    color: rgb(255, 255, 255);
    &.active {
        opacity: 1;
        z-index: 2;
    }
}

.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    display: inline-block;
    justify-content: center;
    text-align: center;
}

.control {
    position: absolute;
    margin-bottom: 100px;
    min-width: 100px;
    display: inline-block;
    margin: 2px 0;
    background-color: coral;
}

.indicators {
    width: 200px;
    display: none;
    justify-content: space-between;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.indicator {
    min-height: 20px;
    min-width: 20px;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border-radius: 50%;
    border: 1px solid transparent;
    &.active {
        border: 1px solid #f0d800;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: 50%;
    }
}

.button {
    height: 24px;
    display: inline-block;
    margin-bottom: 10px;
    opacity: 1;
    z-index: 2;
}

.active {
    opacity: 1;
    z-index: 2;
}

.indicator.active {
    background-color: red;
}